body {
  padding-left: 80px;
  padding-top: 20px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

table {
  border-collapse: collapse;
}

td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

.tag-art td {  background-color: #f0fff0; }
.tag-meta td {  background-color: #fff0f0; }

.horiz {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
}

.vert {
  display: flex;
  align-items: flex-start;
  gap: 40px;
  flex-direction: column;
}

.header {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  padding-top: 60px;
  margin-bottom: 20px;
  border-bottom: 1px solid #444;
  color: #222;
}

a {
  text-decoration: none;
}

.journal-entry {
  width: 40em;
  padding: 1em;
  margin: 1em;
  background-color: #f9f9f9;
}

.journal-header {
  position: relative;
}

.journal-header a {
  color: inherit;
}

.journal-header a:hover::before {
  background: url(../link-svgrepo-com.svg);
  background-size: 0.7em 0.7em;
  display: inline-block;
  opacity: 0.5;
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: -1em;
  top: 0.17em;
  content: "";
}

h2:target::before  {
  background-color: #f40;
  background-size: 0.7em 0.7em;
  display: inline-block;
  width: 0.7em;
  height: 0.7em;
  position: absolute;
  left: -2em;
  top: 0.17em;
  content: "";
}

.topbar {
  width: 100%;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  font-family: sans-serif;
  z-index: 1000;
}

.topbar a {
  color: #fff;
}

.topbar a:visited {
  color: #fff;
}
