body {
  padding-left: 80px;
  padding-top: 20px;
}

td {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 30px;
}

table {
  border-collapse: collapse;
}

td {
  background-color: #f9f9f9;
  border-bottom: 1px solid #aaa;
  border-top: 1px solid #aaa;
}

.tag-art td {  background-color: #f0fff0; }
.tag-meta td {  background-color: #fff0f0; }

.horiz {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  flex-direction: row;
}

.header {
  font-size: 0.8em;
  font-weight: bold;
  text-align: center;
  font-family: sans-serif;
  margin-bottom: 20px;
  border-bottom: 1px solid #444;
  color: #222;
}

a {
  text-decoration: none;
}
